<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__brand">
        <a href="/" class="header__logo logo">CO-LEAD</a>
      </div>
      <nav class="header__nav">
        <a href="/" class="header__link">Home</a>
        <a href="#services" class="header__link">Services</a>
        <a href="#engagements" class="header__link">Engagements</a>
        <a href="#about" class="header__link">About</a>        
        <a href="#contact" class="header__link">Contact</a>
      </nav>
    </div>
  </div>
</header>